@page "/administration/event/{id}"
@attribute [Authorize(Policy = "Admin.Events.*")]

@using Microsoft.AspNetCore.Authorization
@using NetEvent.Client.Components
@using NetEvent.Client.Components.Administration
@using NetEvent.Client.Extensions
@using NetEvent.Shared.Config
@using NetEvent.Shared.Dto
@using NetEvent.Shared.Dto.Event

@if (_Loading)
{
    <NetEventLoading />
}

@if (_Event != null)
{
    <div Class="d-flex flex-row" Elevation="0">
        <MudText Typo="Typo.h6" Class="ma-4">@_Event.Name</MudText>
        <MudSpacer />
        @if (_Event.Id > 0)
        {
            <MudTooltip Text="@Localizer["Administration.Events.Event.Show"]">
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@UrlHelper.GetEventLink(_Event.Id!, false)" StartIcon="@Icons.Material.Outlined.TapAndPlay"></MudButton>
            </MudTooltip>
        }
    </div>

    <EventSettings Event="@_Event" Venues="@_Venues" />
    @if(_Event.Id > 0)
    {
        <TicketTypes Event="@_Event" />
    }
}