@page "/administration/event/{id}"
@attribute [Authorize(Policy = "Admin.Events.*")]
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize

@using Microsoft.AspNetCore.Authorization
@using NetEvent.Client.Components
@using NetEvent.Client.Components.Administration
@using NetEvent.Client.Extensions
@using NetEvent.Shared.Config
@using NetEvent.Shared.Dto
@using NetEvent.Shared.Dto.Event
@using TinyMCE.Blazor

@if (_Loading)
{
    <NetEventLoading />
}

@if (_Event != null)
{
    <div Class="d-flex flex-row" Elevation="0">
        <MudText Typo="Typo.h6" Class="ma-4">@_Event.Name</MudText>
        <MudSpacer />
        <MudTooltip Text="@Localize["Administration.Events.Event.Show"]">
            <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@UrlHelper.GetEventLink(_Event.Id!, false)" StartIcon="@Icons.Material.Outlined.TapAndPlay"></MudButton>
        </MudTooltip>
    </div>

    <MudCard Class="ma-4">
        <MudForm Model="@_Event" @ref="@_Form" Validation="@(_EventValidator.ValidateValue)" ValidationDelay="0">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@Localize["Administration.Events.Event.Settings"]</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    @if (_Event.Id > 0)
                    {
                        <MudItem xs="2" md="1">
                            <MudTextField @bind-Value="_Event.Id"
                                  For="@(() => _Event.Id)"
                                  Margin="Margin.Dense"
                                  ReadOnly="true"
                                  Disabled="true"
                                  Immediate="true"
                                  Variant="Variant.Outlined"
                                  Label="@Localize["Administration.Events.Event.Id"]" />
                        </MudItem>
                    }

                    <MudItem xs="@(_Event.Id > 0 ? 4 : 6)" md="@(_Event.Id > 0 ? 5 : 6)">

                        <MudTextField @bind-Value="_Event.Name"
                                  For="@(() => _Event.Name)"
                                  Margin="Margin.Dense"
                                  Immediate="true"
                                  Variant="Variant.Outlined"
                                  Label="@Localize["Administration.Events.Event.Name"]" />
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudSelect @bind-Value="_Event.State"
                               For="@(() => _Event.State)"
                               Margin="Margin.Dense"
                               Label="@Localize["Administration.Events.Event.PublishState"]"
                               Variant="Variant.Outlined"
                               AnchorOrigin="Origin.BottomCenter">
                            @foreach (var publishState in Enum.GetValues<PublishStateDto>())
                            {
                                <MudSelectItem Value="@publishState">@Localize["Administration.Events.Event.PublishState." + @publishState.ToString()]</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudSelect @bind-Value="_Event.Visibility"
                               For="@(() => _Event.Visibility)"
                               Margin="Margin.Dense"
                               Label="@Localize["Administration.Events.Event.VisibilityState"]"
                               Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var visibilityState in Enum.GetValues<VisibilityStateDto>())
                            {
                                <MudSelectItem Value="@visibilityState">@Localize["Administration.Events.Event.VisibilityState." + @visibilityState.ToString()]</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="VenueDto" @bind-Value="_Event.Venue"
                               For="@(() => _Event.Venue)" 
                               Clearable="true"
                               Margin="Margin.Dense"
                               Label="@Localize["Administration.Events.Event.Venue"]"
                               Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                            @foreach (var venue in _Venues)
                            {
                                <MudSelectItem Value="@venue">@venue.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudTextField T="DateTime?"
                                  @bind-Value="_Event.StartDate"
                                  For="@(() => _Event.StartDate)"
                                  Margin="Margin.Dense"
                                  Format="s"
                                  Label="@Localize["Administration.Events.Event.StartDate"]"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.DateTimeLocal" />
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudTextField T="DateTime?"
                                  @bind-Value="_Event.EndDate"
                                  For="@(() => _Event.EndDate)"
                                  Margin="Margin.Dense"
                                  Format="s"
                                  Label="@Localize["Administration.Events.Event.EndDate"]"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.DateTimeLocal" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudField Label="@Localize["Administration.Events.Event.ShortDescription"]"
                              Margin="Margin.Dense"
                              Variant="Variant.Outlined">
                            <Editor @bind-Value="_Event.ShortDescription" ScriptSrc="/lib/tinymce/tinymce.min.js" ValidateOnInput="true" Conf="NetEvent.Client.Extensions.TinyMceConfig.EditorConf" />
                        </MudField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudField Label="@Localize["Administration.Events.Event.Description"]"
                              Margin="Margin.Dense"
                              Variant="Variant.Outlined">
                            <Editor @bind-Value="_Event.Description" ScriptSrc="/lib/tinymce/tinymce.min.js" ValidateOnInput="true" Conf="NetEvent.Client.Extensions.TinyMceConfig.EditorConf" />
                        </MudField>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudForm>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await SaveEvent())">
                @(_Event.Id >= 0 ? Localize["Administration.Events.Event.Save"] : Localize["Administration.Events.Event.Create"])
            </MudButton>
        </MudCardActions>
    </MudCard>
}