@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using MudBlazor.ThemeManager
@using NetEvent.Client.Pages.Administration

@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize

<MudThemeProvider Theme="_ThemeManager.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>@_OrganizationName</PageTitle>

<MudLayout>
    <MudAppBar ClipMode="_themeManager.DrawerClipMode" Elevation="_ThemeManager.DrawerElevation">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            </Authorized>
        </AuthorizeView>
        <h1>@_OrganizationName</h1>
        <MudSpacer />
        @*<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />*@
        <NavigationBar />
    </MudAppBar>
    <AuthorizeView Policy="Admin.*">
        <Authorized>
            <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h5" Class="mt-1">@Localize["Shared.MainLayout.Administration"]</MudText>
                </MudDrawerHeader>
                <AdminMenu></AdminMenu>

                @*NavMenu*@
            </MudDrawer>

        </Authorized>
    </AuthorizeView>


    <MudMainContent>
        @Body
    </MudMainContent>

    @*    <MudThemeManagerButton OnClick="@((e) => ToggleThemeManager(true))" />
    <MudThemeManager Open="_themeManagerOpen" OpenChanged="ToggleThemeManager" Theme="_ThemeManager" ThemeChanged="UpdateTheme" />*@
</MudLayout>

