@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using MudBlazor.ThemeManager
@using NetEvent.Client.Pages.Administration

@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize

<MudThemeProvider Theme="_ThemeManager.Theme" IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>@_OrganizationName</PageTitle>

<MudLayout>
    <MudAppBar ClipMode="_themeManager.DrawerClipMode" Elevation="_ThemeManager.DrawerElevation">
        @if (_DrawerVisible)
        {
            <AuthorizeView Policy="Admin.*">
                <Authorized>
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                </Authorized>
            </AuthorizeView>
        }
        <MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Primary" Href="/" Match="NavLinkMatch.Prefix">
            @if (!string.IsNullOrEmpty(_Logo))
            {
                <MudImage Src="@_Logo" Class="img-logo"></MudImage>
            }
            <h1>@_OrganizationName</h1>
        </MudButton>
        <NavigationBar />
    </MudAppBar>
    @if (_DrawerVisible)
    {
        <AuthorizeView Policy="Admin.*">
            <Authorized>
                <MudDrawer @bind-Open="_DrawerOpen" Elevation="2">
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h5" Class="mt-1">@Localize["Shared.MainLayout.Administration"]</MudText>
                    </MudDrawerHeader>
                    <AdminMenu></AdminMenu>
                </MudDrawer>

            </Authorized>
        </AuthorizeView>
    }

    <MudMainContent>
        <MudContainer MaxWidth="@(_DrawerVisible ? MaxWidth.False : MaxWidth.Large)">
            @Body
        </MudContainer>
    </MudMainContent>

    <MudAppBar Bottom="true" Fixed="false" Color="Color.Primary" Elevation="1">
        <MudText Typo="Typo.subtitle2">© @_OrganizationName @DateTime.Now.Year @Localize["Shared.MainLayout.AllRightsReserved"] </MudText>
        <MudSpacer />
        <MudText Typo="Typo.subtitle2">@Localize["Shared.MainLayout.PoweredBy"] <MudLink Color="@Color.Secondary" Target="_blank" Href="https://github.com/Lan2Play/NetEvent">NetEvent</MudLink></MudText>
    </MudAppBar>
</MudLayout>

