@page "/administration/settings"
@attribute [Authorize(Policy = "Admin.Settings.*")]
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize

@using Microsoft.AspNetCore.Authorization
@using NetEvent.Shared.Config

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">

    <AuthorizeView Policy="Admin.Settings.Organization.*">
        <Authorized>
            <MudTabPanel Text="@Localize["Administration.Settings.Organization"]">
                @if (_Loading)
                {
                    <div>@Localize["Administration.Settings.LoadingData"]</div>
                }
                else
                {
                    @foreach (var systemSetting in _SystemSettings.OrganizationData)
                    {
                        @switch (systemSetting.ValueType)
                        {
                            @case StringValueType svt:
                                <MudTextField T="string" Value="@_OrganizationData.First(x=>x.Key == systemSetting.Key).Value" ValueChanged="@((v) => OnSettingsValueChanged(systemSetting, v))" Label="@systemSetting.TextKey" HelperText="@systemSetting.TextKey" Variant="Variant.Text" />

                                break;
                            @default:

                                <div>@Localize["Administration.Settings.MissingType", systemSetting.ValueType.GetType().Name, systemSetting.Key, _OrganizationData.First(x=>x.Key == systemSetting.Key).Value]</div>
                                break;
                        }
                    }
                }
            </MudTabPanel>
        </Authorized>
    </AuthorizeView>


    @*<MudTabPanel Text="Tab Two">
    <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Tab Three">
    <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Tab Disabled" Disabled="true">
    <MudText>Content Disabled</MudText>
    </MudTabPanel>*@
</MudTabs>



@*@foreach (var organizationData in _OrganizationData)
{
    <div>  @organizationData.Key - @organizationData.Value</div>
}
*@