@page "/administration/users"
@attribute [Authorize(Policy = "Admin.Users.*")]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using NetEvent.Shared.Dto
@using NetEvent.Shared.Dto.Administration
@using NetEvent.Shared.Policy

@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize



<MudTabs Elevation="1" Rounded="true">
    <MudTabPanel Text="@Localize["Administration.Users.Title"]">
        <MudDataGrid T="AdminUserDto"
                     MultiSelection="false"
                     Items="@AllUsers"
                     Sortable="true"
                     Filterable="true"
                     ReadOnly="false"
                     EditMode="DataGridEditMode.Form"
                     EditTrigger="DataGridEditTrigger.Manual"
                     CommittedItemChanges="@CommittedUserChangesAsync"
                     QuickFilter="@_usersQuickFilter"
                     Hideable="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">@Localize["Administration.Users.Title"]</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_UsersSearchString" Placeholder="@Localize["Administration.Users.Search"]" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                @*<SelectColumn T="ApplicationUser" />*@
                <Column T="AdminUserDto" Field="UserName" Title="@Localize["Administration.Users.UserName"]" />
                <Column T="AdminUserDto" Field="FirstName" Title="@Localize["Administration.Users.FirstName"]" />
                <Column T="AdminUserDto" Field="LastName" Title="@Localize["Administration.Users.LastName"]" />
                <Column T="AdminUserDto" Field="Email" Title="@Localize["Administration.Users.Email"]" />
                @*<Column T="AdminUserDto" Field="PhoneNumber" Title="@Localize["Administration.Users.PhoneNumber"]" />*@
                <Column T="AdminUserDto" Field="EmailConfirmed" Title="@Localize["Administration.Users.EmailConfirmed"]">
                    <CellTemplate>
                        <MudCheckBox Checked="@context.Item.EmailConfirmed" ReadOnly="true" />
                    </CellTemplate>
                    <EditTemplate>
                        <MudCheckBox @bind-Checked="@context.Item.EmailConfirmed" Label="@Localize["Administration.Users.EmailConfirmed"]" />
                    </EditTemplate>
                </Column>
                <Column T="AdminUserDto" Field="Role" Title="@Localize["Administration.Users.Role"]">
                    <CellTemplate>
                        @context.Item.Role?.Name
                    </CellTemplate>
                </Column>
                <Column T="AdminUserDto" CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" OnClick="@context.Actions.StartEditingItem" />
                    </CellTemplate>
                    <EditTemplate>
                        <MudSelect @bind-Value="context.Item.Role" ToStringFunc="r => r.Name" Required RequiredError="@Localize["Administration.Users.Roles.ErrorRoleRequired"]" Margin="@Margin.Dense">
                            @foreach (var role in AllRoles)
                            {
                                <MudSelectItem Value="@(role)">@role.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </EditTemplate>
                </Column>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="AdminUserDto" />
            </PagerContent>
        </MudDataGrid>
    </MudTabPanel>
    <MudTabPanel Text="@Localize["Administration.Users.Roles.Title"]">
            <MudDataGrid T="RoleDto"
                         MultiSelection="false"
                         Items="@AllRoles"
                         Sortable="true"
                         Filterable="true"
                         ReadOnly="false"
                         @bind-SelectedItem="@SelectedRole"
                         EditMode="DataGridEditMode.Form"
                         EditTrigger="DataGridEditTrigger.Manual"
                         CommittedItemChanges="@CommittedRoleChangesAsync"
                         QuickFilter="@_roleQuickFilter"
                         Hideable="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@Localize["Administration.Users.Roles.Title"]</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="_RoleSearchString" Placeholder="@Localize["Administration.Users.Roles.Search"]" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <Columns>
                    <Column T="RoleDto" Field="Id" Title="@Localize["Administration.Users.Roles.Id"]" />
                    <Column T="RoleDto" Field="Name" Title="@Localize["Administration.Users.Roles.Name"]" />
                    <Column T="RoleDto" Title="@Localize["Administration.Users.Roles.Claims"]">
                        <CellTemplate>
                            @if (@context.Item.Claims != null)
                            {
                                @foreach (var claim in @context.Item.Claims)
                                {
                                    <div>@claim</div>
                                }
                            }
                        </CellTemplate>
                        <EditTemplate>
                            <MudSelect T="string"
                                       MultiSelection="true"
                                       SelectAll="true"
                                       @bind-SelectedValues="context.Item.Claims"
                                       Margin="@Margin.Dense"
                                       SelectAllText="@Localize["Administration.Users.Roles.SelectAllPermissions"]"
                                       Label="@Localize["Administration.Users.Roles.Permissions"]"
                                       MultiSelectionTextFunc="@(new Func<List<string>, string>(CreateSelectionLabel))"
                                       HelperText="@value" @bind-Value="value">
                                @foreach (var policy in Policies.AvailablePolicies)
                                {
                                    <MudSelectItem T="string" Value="@(policy)">@policy</MudSelectItem>
                                }
                            </MudSelect>
                        </EditTemplate>
                    </Column>
                    <Column T="RoleDto" CellClass="d-flex justify-end">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" OnClick="@context.Actions.StartEditingItem" />
                        </CellTemplate>
                    </Column>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="RoleDto" />
                </PagerContent>
            </MudDataGrid>
    </MudTabPanel>
</MudTabs>
