@page "/administration/users"
@attribute [Authorize(Policy = "Admin.Users.*")]

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using NetEvent.Client.Components;
@using NetEvent.Shared.Dto;
@using NetEvent.Shared.Dto.Administration;
@using NetEvent.Shared.Policy;
@using System.Net.Http.Json

<MudTabs Elevation="1" Rounded="true">
    <MudTabPanel Text="@Localizer["Administration.Users.Title"]">
        <NetEventDataGrid T="AdminUserDto"
                          MultiSelection="false"
                          Items="@AllUsers"
                          SortMode="SortMode.Single"
                          Filterable="false"
                          ReadOnly="false"
                          EditMode="DataGridEditMode.Form"
                          EditTrigger="DataGridEditTrigger.Manual"
                          CommittedItemChanges="@CommittedUserChangesAsync"
                          QuickFilter="@_usersQuickFilter"
                          Hideable="true">
           @* <ToolBarContent>
                <MudText Typo="Typo.h6">@Localizer["Administration.Users.Title"]</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_UsersSearchString" Placeholder="@Localizer["Administration.Users.Search"]" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>*@

            <Columns>
                <PropertyColumn T="AdminUserDto" TProperty="String" Property="x => x.UserName" Title="@Localizer["Administration.Users.UserName"]" />
                <PropertyColumn T="AdminUserDto" TProperty="String"  Property="x => x.FirstName" Title="@Localizer["Administration.Users.FirstName"]" />
                <PropertyColumn T="AdminUserDto" TProperty="String" Property="x => x.LastName" Title="@Localizer["Administration.Users.LastName"]" />
                <PropertyColumn T="AdminUserDto" TProperty="String" Property="x => x.Email" Title="@Localizer["Administration.Users.Email"]" />
                <TemplateColumn T="AdminUserDto" Field="EmailConfirmed" Title="@Localizer["Administration.Users.EmailConfirmed"]">
                    <CellTemplate>
                        <MudCheckBox Checked="@context.Item.EmailConfirmed" ReadOnly="true" />
                    </CellTemplate>
                    <EditTemplate>
                        <MudCheckBox @bind-Checked="@context.Item.EmailConfirmed" Label="@Localizer["Administration.Users.EmailConfirmed"]" />
                    </EditTemplate>
                </TemplateColumn>
                <TemplateColumn T="AdminUserDto" Field="Role" Title="@Localizer["Administration.Users.Role"]">
                    <CellTemplate>
                        @context.Item.Role?.Name
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn T="AdminUserDto" CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItem" />
                    </CellTemplate>
                    <EditTemplate>
                        <MudSelect @bind-Value="context.Item.Role" ToStringFunc="r => r.Name" Required RequiredError="@Localizer["Administration.Users.Roles.ErrorRoleRequired"]" Margin="@Margin.Dense">
                            @foreach (var role in AllRoles)
                            {
                                <MudSelectItem Value="@(role)">@role.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </EditTemplate>
                </TemplateColumn>
            </Columns>
          @*  <PagerContent>
                <MudDataGridPager T="AdminUserDto" />
            </PagerContent>*@
        </NetEventDataGrid>
    </MudTabPanel>
    <MudTabPanel Text="@Localizer["Administration.Users.Roles.Title"]">
        <NetEventDataGrid T="RoleDto"
                          MultiSelection="false"
        @ref="RolesDataGrid"
                          Items="@AllRoles"
                          SortMode="SortMode.Single"
                          Filterable="false"
                          ReadOnly="false"
        @bind-SelectedItem="@SelectedRole"
                          EditMode="DataGridEditMode.Form"
                          EditTrigger="DataGridEditTrigger.Manual"
                          CommittedItemChanges="@CommittedRoleChangesAsync"
                          DeletedItemChanges="@DeletedItemChanges"
                          QuickFilter="@_roleQuickFilter"
                          Hideable="true">
@*            <ToolBarContent>
                <MudText Typo="Typo.h6">@Localizer["Administration.Users.Roles.Title"]</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_RoleSearchString" Placeholder="@Localizer["Administration.Users.Roles.Search"]" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Add" OnClick="RolesDataGrid!.AddNewItemAsync" />
            </ToolBarContent>
*@            <Columns>
                <PropertyColumn T="RoleDto" TProperty="String" Property="x => x.Id" Title="@Localizer["Administration.Users.Roles.Id"]" IsEditable="false" />
                <PropertyColumn T="RoleDto" TProperty="String" Property="x => x.Name" Title="@Localizer["Administration.Users.Roles.Name"]" />
                <TemplateColumn T="RoleDto" Field="IsDefault" Title="@Localizer["Administration.Users.Roles.IsDefault"]">
                    <CellTemplate>
                        <MudCheckBox Checked="@context.Item.IsDefault" ReadOnly="true" />
                    </CellTemplate>
                    <EditTemplate>
                        <MudCheckBox @bind-Checked="@context.Item.IsDefault" Label="@Localizer["Administration.Users.Roles.IsDefault"]" />
                    </EditTemplate>
                </TemplateColumn>
                <TemplateColumn T="RoleDto" Title="@Localizer["Administration.Users.Roles.Claims"]">
                    <CellTemplate>
                        @if (@context.Item.Claims != null)
                        {
                            @foreach (var claim in @context.Item.Claims)
                            {
                                <div>@claim</div>
                            }
                        }
                    </CellTemplate>
                    <EditTemplate>
                        <MudSelect T="string"
                                   MultiSelection="true"
                                   SelectAll="true"
                        @bind-SelectedValues="context.Item.Claims"
                                   Margin="@Margin.Dense"
                                   SelectAllText="@Localizer["Administration.Users.Roles.SelectAllPermissions"]"
                                   Label="@Localizer["Administration.Users.Roles.Permissions"]"
                                   MultiSelectionTextFunc="@(new Func<List<string>, string>(CreateSelectionLabel))"
                                   HelperText="@SelectionLabelValue" @bind-Value="SelectionLabelValue">
                            @foreach (var policy in Policies.AvailablePolicies)
                            {
                                <MudSelectItem T="string" Value="@(policy)">@policy</MudSelectItem>
                            }
                        </MudSelect>
                    </EditTemplate>
                </TemplateColumn>
                <TemplateColumn T="RoleDto" CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItem" />
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => RolesDataGrid!.DeleteItemAsync(context.Item))" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
          @*  <PagerContent>
                <MudDataGridPager T="RoleDto" />
            </PagerContent>*@
        </NetEventDataGrid>
    </MudTabPanel>
</MudTabs>
