@page "/checkout/ticket/{ticketType:long}/{amoint:int}"
@using NetEvent.Shared.Dto.Event;


@if (CheckoutSession == null)
{

    <div class="d-flex align-stretch flex-wrap gap-4 ma-4">

        <MudCard Class="d-flex flex-grow-1 flex-column" Style="width: 400px; max-width: 600px;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@EventTicketType.Name</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudText Typo="Typo.h6">@EventTicketType.Price @EventTicketType.Currency.ToSymbol()</MudText>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>

                TODO: Confirm AGB?

            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await BuyTicketAsync())">@Localizer["Events.Event.Tickets.BuyNow"]</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
}
else
{
    <div id="payment-container"></div>
}